@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/cocogoose');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --primary-red: #ec5242;
  --dark: #272a31;
  --light: #d3d3d3;
  --max-container-dekstop: 1200px;
  --cocogoose: 'COCOGOOSE', sans-serif;
}

/* Template Body */
body {
  font-family: 'Lato', sans-serif;
  color: #272a31;
}

.hidden {
  display: none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }

  .nav-btn {
    margin: 10px;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    background: var(--light);
  }

  .menu {
    position: absolute;
    background: white;
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
  }

  .menu-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 10px;
    padding-inline: 20px;
    margin-top: 30px;
  }

  .menu-items {
    font-size: 2rem;
    font-weight: 600;
  }

  .menu-items a {
    text-decoration: none;
    color: var(--dark);
  }

  .menu-items a:active {
    color: var(--primary-red);
  }

  .close-btn {
    width: 50px;
    height: 50px;
  }

  .close-logo {
    width: 30px;
  }

  .container::before {
    background: url(assets/images/mobile/heading-bg.jpg) top no-repeat;
    background-size: cover;
    filter: grayscale(100%) brightness(650%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    content: '';
    z-index: -1;
  }

  .sub-title {
    color: var(--primary-red);
  }

  .main-title {
    font-family: var(--cocogoose);
    font-size: 2.1rem;
    line-height: 1;
    background: url(assets/images/mobile/maintitle-bg.png) center no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
  }

  .article-text {
    line-height: 20px;
    background-color: var(--light);
    padding: 10px;
    border: 1px solid white;
  }

  .event-date {
    font-family: var(--cocogoose);
    font-size: 1.3rem;
  }

  .event-place {
    font-size: 1.1rem;
  }

  /* Event Section */
  .event-section {
    display: grid;
    padding: 5%;
    margin-top: 250px;
    background: url(assets/images/mobile/event-bg.jpg) center no-repeat;
    background-size: cover;
  }

  .event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-block: 30px;
    margin-inline: 3%;
  }

  .event-card {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    backdrop-filter: saturate(150%) brightness(150%);
    padding-inline: 15px;
    width: 100%;
    height: 100px;
  }

  .event-title {
    color: var(--primary-red);
  }

  .event-detail {
    color: var(--light);
  }

  .event-btn-box {
    display: flex;
    justify-content: center;
  }

  .event-btn {
    background-color: var(--primary-red);
    width: 75%;
    padding: 25px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  /* Member Section */
  .member-section {
    display: grid;
  }

  .member-container {
    margin-block: 35px;
    display: grid;
    padding-inline: 5%;
    gap: 30px;
    transition: height 0.7s;
  }

  .member-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
  }

  .member-img {
    width: 100px;
    height: 100px;
  }

  .member-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .member-name {
    font-size: 1.1rem;
  }

  .member-role {
    font-size: small;
    font-style: italic;
    color: var(--primary-red);
  }

  .divider {
    width: 50px;
  }

  .member-about {
    font-size: small;
    color: var(--dark);
    line-height: 1.5;
  }

  .more-btn {
    width: 100%;
    border: 1px solid var(--light);
    justify-content: center;
    font-size: 1rem;
    background-color: white;
    padding: 10px;
    align-items: center;
  }

  /* Sponsered Section */
  .sponsered-section {
    background-color: var(--dark);
    padding: 30px;
  }

  .sponsered-container {
    display: grid;
    gap: 10px;
  }

  .sponsered-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .logo-size {
    width: 100px;
    height: 100px;
  }

  .logo-size-bp {
    width: 150px;
  }

  /* Footer */
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
    filter: grayscale(100%);
  }

  .footer-logo {
    width: 100px;
  }

  .footer-text {
    font-size: 1.1rem;
    line-height: 1.3;
    color: var(--light);
    font-weight: bold;
  }

  /* About Page */
  .head-title {
    font-family: var(--cocogoose);
    color: var(--primary-red);
  }

  .yg {
    text-decoration: none;
    color: var(--dark);
    cursor: pointer;
  }

  .yg:hover {
    color: var(--primary-red);
  }

  /* About Section */
  .about-section {
    display: grid;
    padding: 30px;
    border-bottom: 1px solid var(--light);
    margin-top: 350px;
    gap: 10px;
    text-align: center;
    background: white;
  }

  .about-logo-box {
    border: 1px solid var(--light);
  }

  .about-logo {
    width: 300px;
    height: 200px;
  }

  /* Past Events Section */
  .past-event-section {
    display: grid;
    padding: 30px;
  }

  .past-event-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
  }

  .past-event-box {
    background-color: var(--primary-red);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    width: 100%;
    height: 200px;
  }

  .event-2011 {
    background-image: url(assets/images/mobile/yg-concert-2011.jpg);
  }

  .event-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    padding: 20px;
    margin-top: 30px;
    text-decoration: none;
  }

  .past-event-date {
    font-weight: bold;
    font-family: var(--cocogoose);
    font-size: 1.3rem;
  }

  .past-event-title {
    font-weight: bold;
    font-family: var(--cocogoose);
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 768px) {
  .des-hidden {
    display: none;
  }

  .first-nav {
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--dark);
    display: grid;
    width: 100%;
  }

  .first-nav-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: var(--max-container-dekstop);
  }

  .menu-items {
    font-size: 1.3rem;
    padding: 10px;
    font-weight: 450;
  }

  .menu-items a {
    text-decoration: none;
    color: var(--dark);
  }

  .menu-btn a {
    text-decoration: none;
    color: var(--primary-red);
    font-size: 1.1rem;
    font-weight: 500;
  }

  .first-nav-items a {
    text-decoration: none;
    color: var(--light);
  }

  .menu-items a:hover {
    color: var(--primary-red);
  }

  .menu-btn {
    padding: 15px;
    border: 3px solid var(--primary-red);
    background-color: white;
  }

  .menu-btn a:hover {
    color: var(--primary-red);
  }

  .menu-btn:hover {
    color: var(--primary-red);
    background-color: var(--dark);
  }

  .first-nav-items {
    padding: 5px;
  }

  .first-nav-items a:hover {
    color: var(--primary-red);
  }

  .second-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 35px;
    padding: 10px;
    max-width: var(--max-container-dekstop);
  }

  .home-logo img {
    width: 250px;
  }

  .menu-box {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 0;
  }

  .container::before {
    background: url(assets/images/desktop/des-bg-2.jpg) top no-repeat;
    background-size: cover;
    filter: grayscale(100%) brightness(650%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    content: '';
    z-index: -1;
  }

  .sub-title {
    color: var(--primary-red);
  }

  .main-title {
    font-family: var(--cocogoose);
    font-size: 2.7rem;
    line-height: 1.1;
    background: url(assets/images/mobile/maintitle-bg.png) center no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
  }

  .article-text {
    line-height: 20px;
    background-color: var(--light);
    padding: 10px;
    border: 1px solid white;
    width: 500px;
  }

  .event-date {
    font-family: var(--cocogoose);
    font-size: 1.3rem;
  }

  .event-place {
    font-size: 1.1rem;
  }

  /* Event Section */
  .event-section {
    display: grid;
    padding: 5%;
    background: url(assets/images/mobile/event-bg.jpg) center no-repeat;
    background-size: cover;
    margin-top: 277px;
  }

  .event-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-block: 30px;
    margin-inline: 3%;
  }

  .event-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    backdrop-filter: saturate(150%) brightness(150%);
    padding-inline: 15px;
    width: 100%;
    height: 100%;
    padding: 30px 5px;
  }

  .event-title {
    color: var(--primary-red);
    padding: 5px;
  }

  .event-detail {
    color: var(--light);
    padding: 5px;
  }

  .event-btn-box {
    display: flex;
    justify-content: center;
  }

  .event-btn {
    background-color: var(--primary-red);
    width: 75%;
    padding: 25px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  .solo-logo {
    width: 50px;
    height: 50px;
  }

  /* Member Section */
  .member-section {
    display: grid;
  }

  .member-container {
    margin-block: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 5%;
    gap: 30px;
    transition: height 0.7s;
  }

  .member-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
  }

  .member-img {
    width: 100px;
    height: 100px;
  }

  .member-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .member-name {
    font-size: 1.1rem;
  }

  .member-role {
    font-size: small;
    font-style: italic;
    color: var(--primary-red);
  }

  .divider {
    width: 50px;
  }

  .member-about {
    font-size: small;
    color: var(--dark);
    line-height: 1.5;
  }

  .more-btn {
    width: 100%;
    border: 1px solid var(--light);
    justify-content: center;
    font-size: 1rem;
    background-color: white;
    padding: 10px;
    align-items: center;
  }

  /* Sponsered Section */
  .sponsered-section {
    background-color: var(--dark);
    padding: 30px;
  }

  .sponsered-container {
    display: grid;
    gap: 10px;
  }

  .sponsered-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: var(--max-container-dekstop);
    gap: 30px;
    margin-top: 30px;
  }

  .logo-size {
    width: 100px;
    height: 100px;
  }

  .logo-size-bp {
    width: 150px;
  }

  /* Footer */
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 50px;
    filter: grayscale(100%);
  }

  .footer-logo {
    width: 300px;
  }

  .footer-text {
    font-size: 1.1rem;
    line-height: 1.3;
    color: var(--light);
    font-weight: 400;
  }
}
